<div class="tab-pane" id="{{ repo_tab.id }}">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Repository: {{ repo_tab.name }}</div>
        <div class="card-body">
          <span class="text-muted">Table filters apply only within this repository.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">Languages (Top 10)</div>
        <div class="card-body">
          <div id="repo-{{ repo_tab.id }}-language-table"></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Authors (Top 10)</div>
        <div class="card-body">
          <div id="repo-{{ repo_tab.id }}-author-table"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
    <div class="col">
      <div class="card tag-card" data-filter-tab="{{ repo_tab.id }}" data-filter-group="language">
        <div class="card-header">
          Language Tags
          <div class="card-actions">
            <button class="btn btn-sm btn-ghost-secondary" type="button" data-tag-clear>Clear filters</button>
          </div>
        </div>
        <div class="card-body">
          <input class="form-control form-control-sm mb-2" type="text" placeholder="Search..." data-tag-search>
          <div class="tag-list" data-tag-list></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card tag-card" data-filter-tab="{{ repo_tab.id }}" data-filter-group="author">
        <div class="card-header">
          Author Tags
          <div class="card-actions">
            <button class="btn btn-sm btn-ghost-secondary" type="button" data-tag-clear>Clear filters</button>
          </div>
        </div>
        <div class="card-body">
          <input class="form-control form-control-sm mb-2" type="text" placeholder="Search..." data-tag-search>
          <div class="tag-list" data-tag-list></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Language Trend</div>
        <div class="card-body">
          <div id="repo-{{ repo_tab.id }}-language-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Author Trend</div>
        <div class="card-body">
          <div id="repo-{{ repo_tab.id }}-author-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
